[submodule "Convex-Hull"]
	path = Convex-Hull
	url = https://github.com/YevgeniyEngineer/Convex-Hull.git
[submodule "Concave-Hull"]
	path = Concave-Hull
	url = https://github.com/YevgeniyEngineer/Concave-Hull.git
